/* BASIC SELECTORS */
body {
	background-color: #effffb;
	color: #333;
}

button {
	background: #4f98ca;
	color: #fff;
	padding: 1em;
	border-radius: 0.35em;
}


/* ELEMENTS */
.edit-job-button {
	margin-bottom: 0;
	margin-right: 5px;
}

.delete-job-button {
	background-color: #eb4d55;
	margin-bottom: 0;
}


/* STRUCTURAL */

.job-row-header-wrapper {
	background: rgba(0,0,0,0.075);
	border-bottom: 1px solid #333;
	display: flex;
	margin-bottom: 0.25em;
}

.button-wrapper {
	display: flex;
}

.container { 
	margin: 0 auto;
	max-width: 1200px;
	overflow: hidden;
	padding: 40px 0 0 0;
}

.job-row {
	padding: 14px 0;
	background-color: rgba(0,0,0,0.015);
}

.job-row:nth-child(even) {
	background-color: #fff;
}

.job-row button {
	font-size: 0.8em;
}

.job-row:nth-child(odd) { border-bottom: 1px solid #f9f9f9; }

.job-row .text-wrapper { padding: 0.85em 1em; }

.table-header-label { color: #9E9E9E; font-size:.8em; }